*{
    margin: 0;
    padding: 0;
}
.gallery{
    font-size: 0;
}
.gallery__controls__left,
.gallery__controls__right{
    position: absolute; 
    z-index: 1;
}
.gallery__controls__left{
    top: 10px;
    transform: rotate(180deg)
}
.gallery__controls__right{
    bottom: 10px;
}
.gallery__item{
    width: calc(100%/3);
    display: inline-block;
    vertical-align: top;
    height: 100%;
    transition: all 1s ease-in-out; 
}
.gallery__item__pic{
    position: relative;
    line-height: 100%;
    height: 100%;
}
.gallery__item:nth-child(odd){
    background: rgba(0,0,0,0.1);
}
.gallery__item__pic img{
    max-height: 300px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
}
.gallery__controls{
    display: block;
}
.gallery__controls.mobile{
    display: none;
}
@media (min-width:601px){
    .gallery__controls__left,
    .gallery__controls__right{
        left: 50%;
    }
}
@media (max-width:601px){
    .gallery{
        display: flex;
    }
    .gallery__controls{
        display: none;
    }
    .gallery__controls.mobile{
        display: block;  
    }
    .gallery__item{
        flex: 0 0 auto;
        width: 100vw;
    }
    .gallery__item:nth-child(odd){
        background: white;
    }
    .gallery__controls__left, .gallery__controls__right{
        top: 50%;
    }
    .gallery__controls__left{
        left: 0;
        transform: rotate(0);
    }
    .gallery__controls__right{
        right: 0;
    }

}